.faq-container {
	width: 90%;
	margin: auto;
}

.faq-title {
	font-weight: 700;
	text-align: center;
	margin: 10px;
}

.content-wrapper {
	padding: 10px;
}

details > summary:first-of-type {
    list-style-type: none;
}

details summary::-webkit-details-marker {
	display:none;
}

.answer {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
}

details {
	margin-bottom: 10px;
}

summary {
	border-left: 5px solid #e41d1d;
	background-color: #ecf0f3a6;
	font-weight: 700;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

summary span {
	display: block;
	width: 80%;
}

summary b {
	width: 20px;
	height: 20px;
	background-color: #1d1e1e;
	color: #fff;
	text-align: center;
}

summary b::after {
	content: "+";
	font-size: 18px;
}

details[open] summary b::after {
	content: "-";
}

summary:hover {
	cursor: pointer;
	background-color: #ecf0f3;
}
